footer {
    position: fixed;
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0;
}
body {
    background-color: floralwhite;
}
.responsive {
    max-width: 100%;
    height: auto;
}
.imageCSS {
    position: relative;
    border: black 2px solid;
}